/backend-module/src/main/java/com/example/backend/target/
/backend-module/backend-module/target/
/backend-module/target/
/ejb-module/target/
/ejb-interfaces/target/
/LoteriaSpark/target/
/Herenca/nbproject/private/
/Herenca/build/
/Herenca/dist/
/ExemploWeka/target/
/frontend/frontend-app/nbproject/private/
